[submodule "packages/react-native-skia"]
	path = packages/react-native-skia
	url = https://github.com/Shopify/react-native-skia.git
[submodule "packages/onnxruntime"]
	path = packages/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
